body{
    background-color: black;
    background-image: url('../img/background.gif');
   height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}